
.recipeTile{
    background-color: white;
    border-radius: 35px;
    margin: 10px;
    height: auto;
    
}

.recipe_cals{
    text-align: center;
    padding-bottom: 10px;
}

.recipe_image{
    height: 125px;
    width: 125px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 155px;
    border: 1px solid black; /* White border */
    border-radius: 35px;
    transition: 1s;
}
.recipe_image:hover{
    width: 130px;
    transform: scale(1.1);
}

.recipe_ingredients{
    max-height: 100px;
    font-size: 15px;
    padding-bottom: 2px;
    text-align: center;
    list-style: none;
}

.recipe_list{
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left:30px;
    padding-right:30px;
    

}


.recipe_label{
    max-width: 300px;
    text-align: center;
    margin: 12px 0px;
    padding-left: 70px;
    font-size: 25px;
}